body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.typing-game-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #E0F7FA, #81D4FA);  
    width : 100%;
    height : 560px;
}